<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>516452783120-fv02s5bivs52qqbjuoie9io9kk7opti1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.516452783120-fv02s5bivs52qqbjuoie9io9kk7opti1</string>
	<key>API_KEY</key>
	<string>AIzaSyDfkYNfMogtGtSGhg5FlQ91NI-xgMoARWM</string>
	<key>GCM_SENDER_ID</key>
	<string>516452783120</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mrddwikky.Japanesia</string>
	<key>PROJECT_ID</key>
	<string>japanesia-f0211</string>
	<key>STORAGE_BUCKET</key>
	<string>japanesia-f0211.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:516452783120:ios:e86fbb346dd12dcf8fe695</string>
	<key>DATABASE_URL</key>
	<string>https://japanesia-f0211.firebaseio.com</string>
</dict>
</plist>